@import "tailwindcss";

@font-face {
  font-family: "Ps2p";
  src: url(./assets/fonts/PressStart2P-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-pix: Ps2p, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --color-gb-light: #8fac66;
  --color-gb-medium: #75964e;
  --color-gb-dark: #354e2a;
  --color-gb-deep: #2c3d26;
}

@layer components {
  .main-bg {
    width: 100%;
    min-height: 100dvh;
    background: var(--color-gb-light);
    color: var(--color-gb-deep);
    font-family: Ps2p, monospace;
    image-rendering: pixelated;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .main-bg::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-image:
      repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0px,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 2px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 0px,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 2px
      );
    opacity: 0.2;
    z-index: 1;
  }

  .scanlines {
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.07) 0px,
      rgba(0, 0, 0, 0.07) 1px,
      transparent 2px
    );
    pointer-events: none;
  }

  @keyframes flicker {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.98;
    }
  }

  .flicker {
    animation: flicker 0.2s infinite;
  }

  .btn {
    @apply cursor-pointer border-3 border-emerald-600 inset-shadow-[-4px_-4px_2px] mb-4
        inset-shadow-emerald-600 flex justify-around items-center bg-linear-to-br from-emerald-400 
        to-emerald-500 shadow-[3px_3px_0_black] transition font-pix text-lg py-4 px-6 text-emerald-50;
  }

  .btn:hover,
  .btn:active {
    @apply border-emerald-800 inset-shadow-emerald-800 bg-linear-to-br from-emerald-500 to-emerald-600;
  }

  .btn.secondary {
    @apply border-slate-900 inset-shadow-[-4px_-4px_2px] inset-shadow-slate-950 bg-linear-to-br from-slate-700 to-slate-800 text-slate-50;
  }

  .btn.secondary:hover,
  .btn.secondary:active {
    @apply border-slate-700 inset-shadow-slate-800 bg-linear-to-br from-slate-600 to-slate-700 text-slate-800;
  }
}

body {
  margin: 0;
  padding: 0;
}
